/* variables */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM Sans');

:root{
    --lineColor: #4c4c4c
}
*{
    box-sizing:border-box;
    margin: 10px;
    padding: 0;
}
body{
    background-color:#fdfef9;
    font-family:"DM-Sans","Arial",sans-serif
}
li, a, button{
    text-decoration: none;
    color:#657264;

}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
}
.logo{
    cursor:pointer;
}
.nav_links{
    list-style:none;
    li{
        display:inline-block;
        padding:0px 20px;
    }
    li a{
        transition: all 0.3s ease 0s;
        text-decoration:none;
        font-size: 24px;
        font-family: 'DM Sans';



    }
    li a:hover{
        color:#e4b5c2;
    }
}
button{
    padding: 9px 25px;
    color:#657264;
    background-color:rgba(174, 205, 171,1);
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    :hover{
        background-color:rgba(174, 205, 171,.8);
    }
}
.con{
    /* cursor:pointer;
    transition: all 0.3s ease 0s;
    :hover{
        width:30px;
    } */
    img{
        color:#657264;
        width:30px;
    }
}
h1{
    font-size:60px;
    color:#657264;
    font-family: 'DM Sans';
}
p{
    font-family:'DM Sans';
    font-size:120%;
}
footer {
    text-align: center;
    padding: 20px;
    flex:auto;
    margin:0;
    margin-top:10%;
    width: 100dvw;

}
.foot-sec{
    display:none;
}
footer hr{
    display:none;
    border-top:1px solid var(--lineColor);
}
footer a {
    color: #657264;
    /* background-color:#657264 */
    /* text-decoration: none; */
    margin: 0 10px;
}
footer li{
    list-style: none;
}
footer a:hover {
    text-decoration: underline;
}
.foot-title{
    font-size:larger;
    color:rgb(60, 59, 59)
}
/* figure out how to change line color */
.foot-bot{
    color:#657264;
}
.foot-bot hr{
    display:contents;
    max-width:50%;
    margin:auto;
}

.foot-top{
    display:flex;
    justify-content:space-between;
    margin-left:10%;
    margin-right:10%;
}
.foot-item img{
    max-width:40%;
    min-width:10%;
}
.foot-line{
    max-width:75%;
    margin:auto;
}
.site{
    min-height: 100dvh;
}