/* variables */
:root{
    --lineColor: #d3d3d3
}
*{
    box-sizing:border-box;
    margin: 10px;
    padding: 0;
    background-color:#fdfef9
}
body{
    min-height:100%;
    flex-grow:1;
}
li, a, button{
    text-decoration: none;
    color:#657264;

}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* padding: 30px 10%; */
    padding:0px;
    /* margin-left:0px;
    margin-right:0px; */
	/* box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    -webkit-clip-path: inset(0px 0px 5px 0px); */
    /* -webkit-box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.1); */
    /* float: left; */
	/* position: absolute; */
	top: 100%;
	/* left: -999em; */
    width:100%;
	/* z-index: 99999; */
}
.logo{
    cursor:pointer;
}
.nav_links{
    list-style:none;
    li{
        display:inline-block;
        padding:0px 20px;
    }
    li a{
        transition: all 0.3s ease 0s;
        text-decoration:none;
        font-size: 24px;
        font-family: 'DM Sans';



    }
    li a:hover{
        color:#e4b5c2;
    }
}
button{
    padding: 9px 25px;
    color:#657264;
    background-color:rgba(174, 205, 171,1);
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    :hover{
        background-color:rgba(174, 205, 171,.8);
    }
}
.con{
    cursor:pointer;
    transition: all 0.3s ease 0s;
    :hover{
        width:30px;
    }
    img{
        color:#657264;
        width:30px;
    }
}
h1{
    font-size:60px;
    color:#657264;
    font-family: 'DM Sans';
}
.space{
    padding-bottom:3cm;
}
/* ^ is a little unnecessary */
p{
    font-family:'DM Sans';
}
footer {
    /* background-color: darkolivegreen; */
    /* color: #fff; */
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    flex:auto;
    margin:0;
    margin-top:10%;
    width: 100%;

}
footer hr{
    border-top:1px solid var(--lineColor);
}
footer a {
    color: pink;
    /* background-color:#657264 */
    text-decoration: none;
    margin: 0 10px;
}
footer li{
    list-style: none;
}
footer a:hover {
    text-decoration: underline;
}
.foot-title{
    font-size:larger;
    color:rgb(60, 59, 59)
}
/* figure out how to change line color */
.foot-line{
    background-color: var(--lineColor);
}
.foot-bot{
    color:#657264;
}
.foot-bot hr{
    border-top:1px solid var(--lineColor);
    max-width:50%;
    margin:auto;
}

.foot-top{
    display:flex;
    justify-content:space-between;
    margin-left:10%;
    margin-right:10%;
}
.foot-item img{
    max-width:40%;
    min-width:10%;
}
.foot-line{
    max-width:75%;
    margin:auto;
}
